a.tab-clicker {
    cursor: pointer;
}

.iframe {
    border: none;
}

.intro-class {
    background : #aaaaaa;
}

p.text-class {
    text-indent: 20px;
    font: italic normal 16px Times;
}

li.intro {
    font: italic normal 16px Times;
}

html, body {
    display: flex;
    min-height: 100%;
    height: 100%;
}

.left-section {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 30%;
}

.main-section {
    display: flex;
    align-content: stretch;
    position: absolute;
    margin-left: 30%;
    top: 51px;
    width: 40%;
    height: calc(100% - 51px);
}

.right-section {
    position: absolute;
    margin-left: 70%;
    top: 70px;
    width: 30%;
    padding-right: 30px;
    padding-left: 30px;
}

.group-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 50px;
}

#intro-header {
    font: italic normal 36px Times, serif
}

.stack-description,
.binary-tree-description,
.hash-table-description,
.deque-description,
.queue-description {
    margin-top: 15px;
    font-size: 13px;
}

.stack-operations,
.binary-tree-operations,
.hash-table-operations,
.deque-operations,
.queue-operations {
    margin-top: 25px;
}

.stack-operations--header,
.binary-tree-operations--header,
.hash-table-operations--header,
.deque-operations--header,
.queue-operations--header {
    text-decoration: underline;
}
