doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/libraries/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/libraries/bootstrap/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/404.css')
    body
        div.container
            div.row
                div.col-md-12
                    div.error-template
                        h1 Ой!
                        h2 404 Not Found
                        div.error-details Указанная Вами страница не найдена!
                        div.error-actions
                            a.btn.btn-primary.btn-lg(href='/') <span class="glyphicon glyphicon-home"></span> На главную