doctype html
head
    title Визуализация структур данных
    // Include contrib libraries.
    script(src='/libraries/jquery/jquery.min.js')
    script(src='/libraries/jqueryui/jqueryui.min.js')
    script(src='/libraries/raphael/raphael.min.js')
    script(src='/libraries/raphael-zpd/raphael-zpd.min.js')
    script(src='/libraries/scale.raphael/scale.raphael.min.js')
    script(src='/libraries/jquery.growl/jquery.growl.min.js')
    script(src='/libraries/bootstrap/bootstrap.min.js')

    // Include custom code.
    script(src='/js/util.js')
    script(src='/js/custom.js')
    script(src='/js/data-structures.js')

    // Don't forget about beauty.
    link(rel='stylesheet', href='/libraries/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/libraries/bootstrap/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/libraries/jquery.growl/jquery.growl.min.css')
    link(rel='stylesheet', href='/css/custom.css')

body
    include navigation