- const structures = ['АВЛ дерево', 'Двоичное дерево поиска', 'Хеш-таблица', 'Очередь', 'Красно-черное дерево', 'Стек', 'Дек', 'Пирамида'];

div#intro_text
  h1#intro-header О данном проекте
  hr
  p.text-class Данный проект сделан в рамках выпускной квалификационной работы Григория Шляпкина (<b>E-mail: shlyapkin.g@gmail.com</b>).
  p.text-class
    | Независимо от выбранного языка программирования, программист
    | должен владеть минимальным набором некоторых знаний и компетенций –
    | одной и самой важной компетенцией является владение знаниями о структурах
    | данных и базовых операциях (алгоритмах), которые можно применять к этим
    | структурам. Структур данных великое множество – дек, кольцевой список,
    | фильтр Блума, BSP-дерево, квадродерево, мягкая куча и т.д. (список можно
    | продолжать достаточно долго – всего их насчитывается порядка 60). И вряд ли
    | у современного программиста есть время и желание для изучения каждой из
    | них. Тем не менее есть минимальный набор, который необходимо знать
  ul
    each val in structures
      li.intro= val
  p.text-class Часть визуализаторов для выше приведенных структур данных представлена в этом проекте.