nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', type='button')
        span.sr-only Toggle navigation
      a.navbar-brand(href='/') Визуализация структур данных
    div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Список визуализаторов <span class="caret"></span>
          ul.dropdown-menu#data-structure-vizualizers(role='menu')
div.left-section.flex-item#left-section
div.main-section#main-section
  include intro
div.right-section#right-section
script
  include ../js/init-header.js
