<h3>АВЛ Дерево (AVL Tree)</h3>

<div class="avl-tree-description">
    <p><strong>АВЛ-дерево</strong> сбалансированное по высоте двоичное дерево поиска: для каждой его вершины высота её двух поддеревьев различается не более чем на 1.</p>
    <p>АВЛ — аббревиатура, образованная первыми буквами создателей (советских учёных) Адельсон-Вельского Георгия Максимовича и Ландиса Евгения Михайловича.</p>
</div>

<div class="avl-tree-operations">
    <span class="avl-tree-operations--header">Операции над очередью</span>
    <ul class="avl-tree-operations-list">
        <li class="avl-tree-operations-list--item"><i>Добавление элемента</i></li>
        <li class="avl-tree-operations-list--item"><i>Удаление элемента</i></li>
        <li class="avl-tree-operations-list--item"><i>Поиск элемента</i></li>
        <li class="avl-tree-operations-list--item"><i>Обход дерева</i></li>
        <li class="avl-tree-operations-list--item"><i>Разбиение дерева по ключу</i></li>
        <li class="avl-tree-operations-list--item"><i>Слияние деревьев</i></li>
        <li class="avl-tree-operations-list--item"><i>Балансировка</i></li>
    </ul>
</div>
