<h3>Двоичное дерево поиска (Binary Tree)</h3>

<div class="binary-tree-description">
    <p><strong>Двои́чное де́рево</strong> — иерархическая структура данных, в которой каждый узел имеет не более двух потомков (детей). Как правило, первый называется родительским узлом, а дети называются левым и правым наследниками.</p>
    <p>Для практических целей обычно используют два подвида бинарных деревьев — <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B2%D0%BE%D0%B8%D1%87%D0%BD%D0%BE%D0%B5_%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%BE_%D0%BF%D0%BE%D0%B8%D1%81%D0%BA%D0%B0">двоичное дерево поиска</a> и <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B2%D0%BE%D0%B8%D1%87%D0%BD%D0%B0%D1%8F_%D0%BA%D1%83%D1%87%D0%B0">двоичная куча</a>.</p>
</div>

<div class="binary-tree-operations">
    <span class="binary-tree-operations--header">Операции над двоичным деревом</span>
    <ul class="binary-tree-operations-list">
        <li class="binary-tree-operations-list--item"><i>Добавление элемента</i></li>
        <li class="binary-tree-operations-list--item"><i>Удаление элемента</i></li>
        <li class="binary-tree-operations-list--item"><i>Поиск элемента</i></li>
        <li class="binary-tree-operations-list--item"><i>Обход дерева</i></li>
        <li class="binary-tree-operations-list--item"><i>Разбиение дерева по ключу</i></li>
        <li class="binary-tree-operations-list--item"><i>Слияние деревьев</i></li>
    </ul>
</div>
