<h3>Двухсвязный список (Deque)</h3>

<div class="deque-description">
    <p><strong>Двусвязная очередь</strong> (жарг. дэк, дек от англ. deque — double ended queue; двухсторонняя очередь, очередь с двумя концами) — структура данных, в которой элементы можно добавлять и удалять как в начало, так и в конец, то есть дисциплинами обслуживания являются одновременно FIFO и LIFO.</p>
</div>

<div class="deque-operations">
    <span class="deque-operations--header">Операции над очередью</span>
    <ul class="deque-operations-list">
        <li class="deque-operations-list--item">PushBack — добавление в конец очереди</li>
        <li class="deque-operations-list--item">PushFront — добавление в начало очереди</li>
        <li class="deque-operations-list--item">PopBack — выборка с конца очереди</li>
        <li class="deque-operations-list--item">PopFront — выборка с начала очереди</li>
        <li class="deque-operations-list--item">Проверка наличия элементов</li>
        <li class="deque-operations-list--item">Очистка</li>
    </ul>
</div>

