<h3>Хэш таблица (Hash table)</h3>

<div class="hash-table-description">
    <p><strong>Хеш-табли́ца (англ. hash-table)</strong> — структура данных, реализующая интерфейс ассоциативного массива. В отличие от деревьев поиска, реализующих тот же интерфейс, обеспечивают меньшее время отклика в среднем. Представляет собой эффективную структуру данных для реализации словарей, а именно, она позволяет хранить пары (ключ, значение) и выполнять три операции: операцию добавления новой пары, операцию поиска и операцию удаления пары по ключу.</p>
</div>

<div class="hash-table-operations">
    <span class="hash-table-operations--header">Операции над хэш-таблицами</span>
    <ul class="hash-table-operations-list">
        <li class="hash-table-operations-list--item"><i>Добавление элемента</i></li>
        <li class="hash-table-operations-list--item"><i>Удаление элемента</i></li>
        <li class="hash-table-operations-list--item"><i>Поиск элемента</i></li>
    </ul>
</div>

<div class="hash-table-operations">
    <h3>Разрешение коллизий</h3>
    <img src="https://neerc.ifmo.ru/wiki/images/thumb/d/dc/Hashing_in_Java8.png/500px-Hashing_in_Java8.png" width="300px" height="auto">
</div>