<h3>Очередь (Queue)</h3>

<div class="queue-description">
    <p>Очереди очень похожи на стеки. Они также не дают доступа к произвольному элементу, но, в отличие от стека, элементы кладутся (enqueue) и забираются (dequeue) с разных концов. Такой метод называется «первый вошел, первый вышел» (First-In-First-Out или FIFO). То есть забирать элементы из очереди мы будем в том же порядке, что и клали. Как реальная очередь или конвейер.</p>
    <p>Очереди часто используются в программах для реализации буфера, в который можно положить элемент для последующей обработки, сохраняя порядок поступления. Например, если база данных поддерживает только одно соединение, можно использовать очередь потоков, которые будут, как ни странно, ждать своей очереди на доступ к БД.</p>
</div>

<div class="queue-operations">
    <span class="queue-operations--header">Операции над очередью</span>
    <ul class="queue-operations-list">
        <li class="queue-operations-list--item"><i>Добавление элемента</i></li>
        <li class="queue-operations-list--item"><i>Удаление элемента</i></li>
        <li class="queue-operations-list--item"><i>Поиск элемента</i></li>
    </ul>
</div>