<h3>Стек (Stack)</h3>

<div class="stack-description">
    <p><strong>Стек</strong> — это коллекция, элементы которой получают по принципу «последний вошел, первый вышел» (Last-In-First-Out или LIFO). Это значит, что мы будем иметь доступ только к последнему добавленному элементу.</p>
    <p>В отличие от списков, мы не можем получить доступ к произвольному элементу стека. Мы можем только добавлять или удалять элементы с помощью специальных методов. У стека нет также метода Contains, как у списков. Кроме того, у стека нет итератора. Для того, чтобы понимать, почему на стек накладываются такие ограничения, давайте посмотрим на то, как он работает и как используется.</p>
    <p>Наиболее часто встречающаяся аналогия для объяснения стека — стопка тарелок. Вне зависимости от того, сколько тарелок в стопке, мы всегда можем снять верхнюю. Чистые тарелки точно так же кладутся на верх стопки, и мы всегда будем первой брать ту тарелку, которая была положена последней.</p>
</div>

<div class="stack-operations">
    <span class="stack-operations--header">Операции над стеком</span>
    <ul class="stack-operations-list">
        <li class="stack-operations-list--item">Добавление элемента</li>
        <li class="stack-operations-list--item">Удаление элемента</li>
        <li class="stack-operations-list--item">Поиск элемента</li>
    </ul>
</div>